<div class="banner-promo"></div>
<div class="promo">
    <img src="/assets/Logo.png" alt="Logo picture">
    <h1>Zašto baš Muscle Factory?</h1>
    <div class="promo-wrapper">
        <div class="single-promo-item">
            <h1><i class="fas fa-dumbbell"></i></h1>
            <h2>Premium oprema za vežbanje</h2>
            <p>Razlike u spravama za trening prave velike razlike u tvom napretku. Uzmi najbolje od onoga što svet fitnesa ima da ponudi.</p>
        </div>
        <div class="single-promo-item">
            <h1><i class="fas fa-hands-helping"></i></h1>
            <h2>Iskustvo i znanje</h2>
            <p>Imaćeš podršku uspešnih trenera i dokazanih stručnjaka, koji su uvek raspoloženi da ti prenesu svoje znanje i podele savete, bilo da je u pitanju izvođenje vežbi ili suplementacija.</p>
        </div>
        <div class="single-promo-item">
            <h1><i class="far fa-check-circle"></i></h1>
            <h2>Motivacija</h2>
            <p>Za najbolje rezultate bitno je okruženje. Svaki detalj je važan. Na raspolaganju su ti veliki i uređen prostor, prijatna atmosfera bez pritiska, zajednički cilj i podrška.</p>
        </div>
    </div>
</div>