.container-flex 
    display: flex
    flex-direction: column
    height: 100vh
    width: 100vw
    box-sizing: border-box

img 
    max-width: 80% !important
    max-height: 70%
    margin-left: 10%
    box-shadow: 6px 6px 12px #646363, -6px -6px 12px #646363

.flex-item1 
    display: flex
    height: 100vh
    justify-content: center
    align-items: center
    text-align: start

.carousel-control-prev 
    color: black !important
    font-size: 2em

.carousel-control-next 
    color: black !important
    font-size: 2em

@media (max-width: 800px) 
    
    .image img 
        width: 90vw !important
        height: 30vh !important
    
    .flex-item1 
        flex-direction: column
        margin: 0

    

    
