<div class="prices"></div>
<div class="price-wrapper">
    <div class="single-price-item">
        <h2>vođeni trening</h2>
        <h1>40&euro;</h1>
        <p>Vođeni trening podrazumeva vežbanje u grupama od nekoliko vežbača uz nadzor trenera.</p>
        <p>Vežbajte i napredujte uz savete iskusnih trenera.</p>
        <a (click)="toContact()">Zakažite besplatan probni trening!</a>
    </div>
    <div class="single-price-item">
        <h2>mesečna/dnevna karta</h2>
        <h1>2000rsd/250rsd</h1>
        <p>Mesečna karta obuhvata neograničen broj treninga.</p>
        <h2>Tri meseca</h2>
        <h1>5000rsd</h1>
        <p>Uplatom 3 meseca odjednom ostvarujete popust od 1000rsd!</p>
        <a (click)="toContact()">Zakažite besplatan probni trening!</a>
    </div>
    <div class="single-price-item">
        <h2>personalni trening</h2>
        <h1>80&euro;</h1>
        <p>Personalni trening podrazumeva vežbanje jedan na jedan (jedan vežbač - jedan personalni trener).</p>
        <p>Tada je personalni trener u savršenoj poziciji da prati napredak, motiviše i sprovodi celokupan trenažni proces.</p>
        <a (click)="toContact()">Zakažite besplatan probni trening!</a>
    </div>
</div>