<section id="home">
    <app-home></app-home>
</section>
<section id="about">
    <app-promo></app-promo>
</section>
<section id="prices">
    <app-prices id="prices"></app-prices>
</section>
<section id="gallery">
    <app-gallery></app-gallery>
</section>
<section id="contact">
    <app-contact></app-contact>
</section>
<section id="copyright">
    <p>All rights reserved. 2020. &#169; MUSCLE FACTORY GYM &#38; FITNESS.</p>
    <p>Developed by <a href="https://grujicdragan.github.io/portfolio-app/" target="_blank">gandra</a></p>
</section>