<div class="banner"></div>

<header id="header">
    <div class="inner-header">
        <a (click)="toggle()" class="toggle-button">
            <span class="bar bar1" id="bar1 "></span>
            <span class="bar " id="bar2 "></span>
            <span class="bar " id="bar3 "></span>
        </a>
        <div class="logo " (click)="toHome() ">
            <img src="assets/Logo.png " class="img1 " alt="Logo picture ">
            <h1>muscle</h1>
            <h2>factory</h2>
        </div>
        <ul class="nav-links ">
            <li class="nav-link "><a (click)="toAbout() ">o nama</a></li>
            <li class="nav-link "><a (click)="toPrices() ">cenovnik</a></li>
            <li class="nav-link "><a (click)="toGallery() ">galerija</a></li>
            <li class="nav-link "><a (click)="toContact() ">kontakt</a></li>
        </ul>
    </div>
</header>

<div class="banner-header ">
    <h1>DOBRODOŠLI</h1><br>
    <h1>U NAJBOLJI GYM</h1><br>
    <h1>U GRADU.</h1><br>
    <h3>FABRIKA NAJKVALITETNIJE MIŠIĆNE MASE</h3>
    <div class="arrow ">
        <a (click)="toAbout() "><i class="fas fa-angle-double-down "></i></a>
    </div>
</div>